<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom CSS -->
        <link href="css/stylish-portfolio.css" rel="stylesheet">

        <link href="css/main.css" rel="stylesheet">
    
        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">
        
        {{ content }}
        
        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:vaastav.anand05@gmail.com">email</a></li>
                <li><a href="https://github.com/vaastav">github.com/vaastav</a></li>
            </ul>
        </footer>
    </body>
</html>