<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- Bootstrap Core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom CSS -->
        <link href="/css/stylish-portfolio.css" rel="stylesheet">

        <link href="/css/main.css" rel="stylesheet">
    
        <!-- Custom Fonts -->
        <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body>
        
        <div id="full">
            <!-- Navigation -->
		    <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>

        {{ content }}
        
        </div>
        <!-- Footer -->
        <footer id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <h4><strong>Vaastav Anand</strong>
                        </h4>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:vaastav.anand05@gmail.com">vaastav.anand05@gmail.com</a></li>
                            <li><i class="fa fa-file fa-fw"></i><a href="files/resume.pdf" target="_blank">Resume</a></li>
                        </ul>
                        <br>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.linkedin.com/pub/vaastav-anand/8b/b5/128" target="_blank"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/vaastav" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a>
                            </li>
                        </ul>
                        <hr class="small">
                        <p class="text-muted"><b>Copyright &copy; Vaastav Anand 2015-2017</b></p>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>