---
layout: default
---
<div>

  <ul class="post-list">
    
    {% capture tag %}{{ page.title | slugify }}{% endcapture %}

    {% for post in site.posts %}
      {% if post.tags contains tag %}
      <li>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        {{ post.excerpt }}
        <a href="{{ post.url | prepend: site.baseurl }}" rel="nofollow" style="color:aqua">Continue reading &rarr;</a>
      </li>
      {% endif %}
    {% endfor %}
     
  </ul>

</div>